.naidsmain{
    position: relative;
    width: 100%px;
    height: 480px;
    /* background:rgb(137, 121, 121); */
    border-radius: 0px;
    background-image: url("naid.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.naidh{
    position: absolute;
    width: 100%;
    height: 45px;
    left: 650px;
    top: 10px;
    font-family: 'Vollkorn';
    font-style: normal;
    font-weight: 800;
    font-size: 38px;
    line-height: 45px;
    /* text-align: center; */
    text-transform: capitalize;
    color: #0b0b0b;
}
.naidp{
    position: absolute;
    width: 100%;
    height: 45px;
    left: 720px;
    top: 065px;
    font-family: 'Vollkorn';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 45px;
    /* text-align: center; */
    text-transform: capitalize;
    color: #0b0b0b;
}
.naidnex{
    position: relative;
    width: 100%;
    height: 480px;
    /* background:rgb(137, 121, 121); */
    border-radius: 0px;
    background-color: rgb(234, 185, 185);
}
.naidsp{
    position: absolute;
    width: 908px;
    height: 52px;
    left: 500px;
    /* text-align: center; */
    top: 100px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 29px;
    color: #070708;
}
.video{
    position: relative;
    width: 100%;
    height: 1080px;
    /* background:rgb(137, 121, 121); */
    border-radius: 0px;
    background-color: rgb(115, 116, 123);
}
.video1{
    position: absolute;
    width: 770px;
    height: 470px;
    /* background:rgb(137, 121, 121); */
    border-radius: 0px;
    left:150px;
    top:60px;
}
.video2{
    position: absolute;
    width: 770px;
    height: 470px;
    /* background:rgb(137, 121, 121); */
    border-radius: 0px;
    left:1000px;
    top:60px;
      
}
.video3{
    position: absolute;
    width: 770px;
    height: 470px;
    /* background:rgb(137, 121, 121); */
    border-radius: 0px;
    left:150px;
    top:580px;
}